$current-color: currentcolor;
$transparent: transparent;
$white: #fff;
$black: #000;

// gray colors
$gray-light: #e4e4e7;
$gray-medium: #a1a1aa;
$gray-dark: #52525b;

// red colors
$red-light: #fecaca;
$red-medium: #f87171;
$red-dark: #dc2626;

// pink colors
$pink-light: #fbcfe8;
$pink-medium: #f472b6;
$pink-dark: #db2777;

// purple colors
$purple-light: #e9d5ff;
$purple-medium: #c084fc;
$purple-dark: #9333ea;

// cyan colors
$cyan-light: #a5f3fc;
$cyan-medium: #22d3ee;
$cyan-dark: #0891b2;

// blue colors
$blue-light: #bfdbfe;
$blue-medium: #60a5fa;
$blue-dark: #2563eb;

// green colors
$green-light: #bbf7d0;
$green-medium: #4ade80;
$green-dark: #16a34a;

// yellow colors
$yellow-light: #fef08a;
$yellow-medium: #facc15;
$yellow-dark: #ca8a04;

// orange colors
$orange-light: #fed7aa;
$orange-medium: #fb923c;
$orange-dark: #ea580c;
