* {
  font-feature-settings: 'cv11';
  overflow-wrap: break-word;

  -webkit-tap-highlight-color: transparent;
}

html {
  touch-action: manipulation;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  text-rendering: optimizelegibility;
}

button {
  cursor: pointer;
  user-select: none;

  border: none;

  background-color: transparent;
  outline: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
